@(id: Option[String], recipeForm: Form[models.Recipe])
@import helper.twitterBootstrap._

@main("Create / Edit Recipe") {
    <script>
        $(document).ready(function() {
            $("#name").on('keyup', function(e) {
                $('#slug').val(getSlug(this.value));
            });

            $('#recipe-form').on('submit', function(e) {
                $('#permalink').val('http://localhost:9000/recipes/'+$('#slug').value);
            })
        });
    </script>
    <h1>Add new recipe</h1>
    @helper.form(action = routes.RecipesController.save, 'id -> "recipe-form", 'class -> "form-horizontal") {
        <input id="permalink" type="hidden" name="permalink" />
        <div class="control-group">
            <label class="control-label" for="name">Recipe Name:</label>

            <div class="controls">
                <input id="name" type="text" name="name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="slug">Slug:</label>

            <div class="controls">
                <input id="slug" type="text" name="slug" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">Recipe Description:</label>

            <div class="controls">
                <textarea id="description" name="description"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="thumbnail-url">Thumbnail:</label>

            <div class="controls"><input id="thumbnail-url" name="thumbnail_url" type="text"/></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="instructions">Instructions:</label>

            <div class="controls"><textarea cols="80" rows="10" id="instructions" name="instructions"></textarea></div>
        </div>
        <br/>

        <div class="controls">
            <input type="submit" class="btn"/>
        </div>
    }
}