@(recipe : Option[models.Recipe])
@import helper.twitterBootstrap._

@main("View Recipe") {
	<div class="row">
        <h1>Recipe Details</h1>
        <a href="/recipes/create" class="btn btn-large btn-success">Add new recipe</a>
        @if(recipe) {
        <div class="row" style="padding: 15px">
            <ul class="thumbnails">
                <li class="span4">
                    <div class="thumbnail">
                    @if(recipe.get.thumbnail_url.isEmpty) {
                        <img src="http://placehold.it/140x120" class="img img-polaroid" />
                    } else {
                        <img src="@recipe.get.thumbnail_url" width="300" />
                    }
                        <div class="caption">
                            <h3>@recipe.get.name</h3>
                            <p>@recipe.get.description</p>
                            <p>@recipe.get.instructions</p>
                            <p>@recipe.get.ingredients</p>
                            <a href="/recipes/@recipe.get.slug" class="btn btn-primary">View</a>
                            <a href="/recipes/@recipe.get.slug/edit" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-info">Remove</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        } else {
        	<h1>No recipe found.</h1>
        }
    </div>
}