@(recipes: List[models.Recipe])
@import helper.twitterBootstrap._

@main("Recipe Centre") {
    <div class="row">
        <h1>Recipes</h1>
        <a href="/recipes/create" class="btn btn-large btn-success">Add new recipe</a>
    @if(recipes.isEmpty) {
        <p>No recipes yet.</p>
    } else {
        <div class="row" style="padding: 15px">
            <ul class="thumbnails">
            @recipes.map { recipe =>
                <li class="span4">
                    <div class="thumbnail">
                    @if(recipe.thumbnail_url.isEmpty) {
                        <img src="http://placehold.it/140x120" class="img img-polaroid" />
                    } else {
                        <img src="@recipe.thumbnail_url" width="300" />
                    }
                        <div class="caption">
                            <h3>@recipe.name</h3>
                            <p>@recipe.description</p>
                            <a href="/recipes/@recipe.slug" class="btn btn-primary">View</a>
                            <a href="/recipes/@recipe.slug/edit" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-info">Remove</a>
                        </div>
                    </div>
                </li>
            }
            </ul>
            <div class="pagination">
                <ul>
                    <li><a href="/">Prev</a></li>
                    <li><a href="/recipes?p=1">1</a></li>
                    <li><a href="/recipes?p=2">2</a></li>

                    <li><a href="/">Next</a></li>
                </ul>
            </div>
        </div>
    }
    </div>
}